<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BrowserStackLocal" version="1.2.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net451" />
  <package id="NUnit" version="3.4.1" targetFramework="net451" />
  <package id="NUnit.Console" version="3.0.0" targetFramework="net451" />
  <package id="NUnit3TestAdapter" version="3.4.0" targetFramework="net451" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net451" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net451" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net451" />
  <package id="SpecFlow.NUnit" version="2.1.0" targetFramework="net451" />
  <package id="SpecFlow.NUnit.Runners" version="2.1.0" targetFramework="net451" />
</packages>